<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>  
    <!--Esta página se utiliza para identificar usuario y contraseña para acceder a la BD de los cuadros-->
    <p>Para ingresar a la base de datos de los cuadros haga click <a href="../templates/tabla_cuadros.html"><b><u>AQUI</u></b></a></p>
    <br>
    <p><a href="../index.html">VOLVER A LA GALERIA</a></p>
</body>
</html>